* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cambiar font-family */
    font-family: sans-serif;
}


/* nav bar */
.logo {
    color: #000;
    font-size: 50px;
    line-height: 100px;
    font-weight: bolder;
    font-style: italic;
    margin-right: auto;
}

.navBar {
    width: 100%;
    height: 100px;
    background-color: yellow;
    border-bottom: 1px solid #000;
}


nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    line-height: 100px;
    list-style: none;
}

nav ul li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 10px;
    transition: 0.3s;
}

a:hover {
    background: rgba(0, 0, 0, 0.678);
    color: yellow;
    text-decoration: none;
    padding: 8px 13px;
}


/* menu */

label.bar {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    z-index: 99;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
}

.bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #000000b4;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 17px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked~span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
}

input[type]:checked~span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.middle {
    transform: translateX(-20px);
    opacity: 0;
}

@media (max-width: 800px) {
    label.bar {
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100%;
        background-color: yellow;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        z-index: 50;
    }
}


/* main */

div.gym_title {
    height: 380px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.822),
                                rgba(36, 30, 1, 0.5)), 
                                url('../img/gym_bg_image.jpeg');
    height: 650px;
    width: auto;
    margin-bottom: 25px;
}


.buttonPosition {
    height: 120px;
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    
}

button {
    width: 160px;
    height: 60px;
    background-color: #000;
    color: yellow;
    border-radius: 9px;
    font-size: large;
    cursor: pointer;
    transition: 0.25s;
}
.buttonStart {
    text-decoration: none;
    color: yellow;
} 
button:hover {
    width: 165px;
    height: 65px;
    color: #000;
    background-color: yellow;
    border: none;
}


/* cierra el main */


/* section */
/* Cards clases */

h2 {
    display: flex;
    padding: 15px 0px;
    justify-content: center;
}

.card {
    transition: 0.8s;
}

/* corregir hover a partir de 800px*/

.card:hover {
    width: 23rem;
}

/* mapa */

.map__container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (4, 1fr);
/*    margin: 10px;
    padding: 18px 13px; */
}
.p__maps {
    font-size: 20px;
    font-weight: bold;
}


.opinion {
    margin: 0px 15px;
 }

form {
    margin: 0px 15px;
}
/* Planes */

.plan {
    background: linear-gradient(rgba(0, 0, 0, 0.822),
                rgba(36, 30, 1, 0.5)),
                url('../img/gym_bg_image.jpeg');
}


/* Equipo */

.team_title {
    font-size: 45px;
    font-weight: bold;
    margin: 0 50%;
}

.team {
    display: grid;
    grid-template-columns: 260px 260px 260px;
}

.team_cards img {
    width: 250px;
    height: 250px;
    margin: 10px;
    margin-bottom: 2.5px;
    border-radius: 10px;
}

/* Contacto */

section.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto_title {
    font-size: 45px;
    font-weight: bold;
}

.redes_title {
    font-size: 45px;
    font-weight: bold;
    margin: 0 27%;
    display: inline;
}


.redes_ico img {
    width: 50px;
    display: inline-block;
}

.foot {
    background-color: #000;
}

.foot__container {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.foot__container img {
    width: 90px;
    height: auto;
}
